{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 404</h1>

    <p>
        La page que vous recherchez semble introuvable.
        Vous pouvez <a href="{{ path('index') }}">retourner a la page d'acceuil</a>.
    </p>
{% endblock %}